#bodyContainer #mainContent {
  color: white;
  background-color: #f6f0e0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  align-self: start;

  width: 75%;
  order: 2;
  margin-left: 10vh;
  margin-top: 2vh;
  color: black;
}

#mainContent > div {
  width: 100%;

  display: grid;
  grid-template-columns: max-content auto auto;
  grid-template-rows: repeat(auto);
  align-items: center;
  justify-items: flex-start;
  margin-top: 3vh;
  padding-top: 1%;
  padding-bottom: 1%;
}

.project {
  font-size: larger;
  font-weight: 500;
}

.project > #projRight {
  display: block;
  height: 100%;
  width: 100%;
  margin-left: 40px;
  grid-column: 2;
  grid-row: 1;
  background-color: #f6f0e0;

  transition: 1 ease-in-out, transform 0.3s ease;
  animation-direction: normal;
}

.project > #projLeft {
  grid-column: 2;
  grid-row: 1;
}

#projLeft,
#projRight {
  display: flex;

  align-items: center;
  justify-items: flex-start;
}

[data-child="child"] #projLeft {
  justify-content: flex-start;
  width: 30%;
  grid-row: 1;
  grid-column: 2;
}

#addBtn,
#delBtn,
#mainContent button {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#editBtnEl,
#plusBtnIcon,
#delBtnIcon {
  height: 70%;
  align-self: center;
}

[data-child="child"] #editBtnEl,
[data-child="child"] #plusBtnIcon,
[data-child="child"] #delBtnIcon {
  height: 50%;
  align-self: center;
}

[data-child="child"] #projRight {
  width: 50%;
  height: 100%;
  margin-left: 40px;
  background-color: #f6f0e0;
  transition: 1 ease-in-out, transform 0.3s ease;
  animation-direction: normal;
  grid-row: 1;
  grid-column: 2;
}

@keyframes childEditAppear {
  0% {
    margin-left: 40px;
  }
  100% {
    margin-left: 120px;
  }
}

@keyframes childEditDis {
  0% {
    margin-left: 120px;
  }
  100% {
    margin-left: 40px;
  }
}

@keyframes childEditExtend {
  0% {
    margin-left: 120px;
  }
  100% {
    margin-left: 370px;
  }
}

@keyframes childEditCollapse {
  0% {
    margin-left: 270px;
  }
  100% {
    margin-left: 120px;
  }
}

@keyframes childElReset {
  0% {
    margin-left: 270px;
  }
  100% {
    margin-left: 40px;
  }
}

#projLeft {
  width: 55%;
}

#projRight {
  width: 95%;
}

#timeInput,
#toDoInput {
  display: none;
  height: 25px;
  margin-left: 2px;
}

#toDoInput {
  width: 40%;
}

#timeInput {
  width: 27%;
}

#mainContent div[data-child] {
  background-color: #f6f0e0;
  width: 97.5%;

  margin-top: 1vh;

  grid-column: 1 / -1;

  border-bottom: 1px rgb(110, 110, 110, 0.5) solid;

  display: grid;
  align-items: center;
  grid-template-columns: max-content 50% 50%;
  grid-template-rows: 8vh;
}

#mainContent .project {
  grid-column: 1;
  height: auto;
}

#mainContent div[data-child] button {
  height: 25px;
  align-items: center;
}

#mainContent div[data-child] p {
  grid-row: 1;
  grid-column: 1;
  font-size: medium;
  font-weight: 200;
  margin-left: -10px;
}

#mainContent div[data-child] p::first-letter {
  color: transparent;
}

#mainContent button {
  background-color: #f6f0e0;
  border: none;
  width: 40px;
  height: 25px;
}

#mainContent button:hover {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  height: 25px;
}

#newProjectInputName,
#newProjectInputDate {
  color: black;
  width: 30%;
  height: 1.4rem;
  display: none;
}

#newProjectInputTime {
  background-color: red;
}

#BtnInputContainer {
  display: flex;
  grid-row: 20;
}
