#bodyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(10, 10, 15, 1);

  width: 100%;
  height: 85vh;

  padding: 5vh;
}

#bodyContainer #mainContent {
  width: 75%;
  height: 80%;
  order: 2;
}

#bodyContainer #leftContent,
#bodyContainer #mainContent {
  background-color: rgba(10, 10, 15, 1);
}

#mainContent * {
  width: 100%;
  height: 65px;
  background-color: wheat;
  color: black;

  display: flex;
}

#mainContent * * {
  width: 50px;
  height: 50px;

  color: black;
  background-color: aliceblue;
}

#addBtn,
#delBtn,
#changeBtn {
  display: none;
}

#mainContent div[data-child] {
  background-color: green;
  width: 30%;
  height: 3vh;
}

#mainContent * * {
  width: 100%;
}

#mainContent button {
  background-color: red;
}
