#bodyContainer #mainContent {
  color: white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  align-self: start;

  width: 75%;
  order: 2;
  margin-left: 10vh;
  margin-top: 10vh;
}

#mainContent > div {
  width: 100%;
  background: linear-gradient(
    to left,
    rgba(70, 70, 80, 0),
    rgba(70, 70, 80, 0.1)
  );

  border-top: 1px rgb(110, 110, 110, 0.5) solid;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2);
  align-items: center;
  justify-items: flex-start;
  margin-top: 3vh;
  padding-top: 1%;
  padding-bottom: 1%;
}

#mainContent * * {
  color: white;
  background-color: orange;
}

#projLeft,
#projRight {
  display: flex;

  align-items: center;
  justify-items: flex-start;
  grid-row: 2;
}

[data-child="child"] #projLeft {
  justify-content: flex-start;
  width: 30%;
}

[data-child="child"] #projRight {
  position: absolute;
  width: 20%;
  height: 25px;
  margin-left: 40px;
  background-color: green;
  transition: 1 ease-in-out, transform 0.3s ease;
  animation-direction: normal;
}

@keyframes childEditAppear {
  0% {
    margin-left: 40px;
  }
  100% {
    margin-left: 120px;
  }
}

@keyframes childEditDis {
  0% {
    margin-left: 120px;
  }
  100% {
    margin-left: 40px;
  }
}

#projLeft {
  width: 95%;
}

#projRight {
  width: 95%;
}

#addBtn,
#delBtn,
#changeBtn {
  display: none;
}

#timeInput,
#timeBtn,
/* #timeBtnTwo, */
#toDoInput {
  display: none;
}

#toDoInput {
  width: 40%;
}

#timeInput {
  width: 20%;
}

#mainContent div[data-child] {
  background-color: green;
  width: 97.5%;

  margin-top: 1vh;

  grid-column: 1 / -1;
  border-top: 1px rgb(110, 110, 110, 0.5) solid;
  border-bottom: 1px rgb(110, 110, 110, 0.5) solid;

  display: grid;
  align-items: end;
  grid-template-columns: 1;
  grid-template-rows: 2;
}

#mainContent div[data-child] button {
  height: 25px;
}

#mainContent div[data-child] * {
}

#mainContent button {
  background-color: red;
  width: 40px;
  height: 25px;
}

#newProjectInputName,
#newProjectInputDate {
  color: black;
  width: 30%;
  height: 1.4rem;
  display: none;
}

#newProjectInputTime {
  background-color: red;
}

#BtnInputContainer {
  display: flex;
  grid-row: 20;
}
