#bodyContainer #leftContent {
  width: 25%;
  order: 1;
}

#leftOne {
  height: 33%;
  width: 100%;
  border-top: 1px rgb(110, 110, 110, 0.5) solid;
  border-bottom: 1px rgb(110, 110, 110, 0.5) solid;
  height: 70vh;
}
