#bodyContainer #leftContent {
  display: flex;

  margin-top: 3rem;
  width: 25%;
}

#leftOne {
  width: 100%;
  border-top: 1px rgb(110, 110, 110, 0.5) solid;
  border-bottom: 1px rgb(110, 110, 110, 0.5) solid;
  align-content: start;
}

#leftOne button {
  height: 2rem;
  background-color: #f6f0e0;
  border: none;
  width: 100%;
  cursor: pointer;

  text-align: start;
}

#leftOne button:focus {
  background: linear-gradient(to right, #ffffff, #f6f0e0);
}

#todayBtn {
}

#upcomingBtn {
}

#allBtn {
}

#leftOne input {
  width: 7rem;
  height: 1.8rem;
  position: absolute;
  margin-top: -30px;
  border: none;
  background-color: #f6f0e0;
}

#createNewProjTodayBtn {
}

#newProjectInputTodayName {
  margin-left: 80px;
}

#newProjectInputTodayDate {
  margin-left: 200px;
}

#newProjectInputTodayName,
#newProjectInputTodayDate {
  display: none;
}
