#bodyContainer #leftContent {
  display: flex;
  margin-top: 3rem;
  width: 25%;
}

#leftOne {
  display: grid;
  justify-content: start;
  align-content: flex-start;
  align-items: flex-start;
  grid-template-columns: 100px, 100px, 100px;
  grid-template-rows: 100px, 100px 100px 100px;

  width: 100%;
  border-top: 1px rgb(110, 110, 110, 0.5) solid;
  border-bottom: 1px rgb(110, 110, 110, 0.5) solid;
  height: 70vh;
}

#leftOne button {
  height: 2rem;
  width: 8rem;
}

#todayBtn {
  grid-column: 1;
}

#upcomingBtn {
  grid-column: 1;
}

#allBtn {
  grid-column: 1;
}

#leftOne input {
  width: 7rem;
  height: 2rem;
}

#createNewProjTodayBtn {
  grid-column: 1;
  grid-row: 1;
}

#newProjectInputTodayName {
  grid-column: 3;
  grid-row: 1;
}

#newProjectInputTodayDate {
  grid-column: 4;
  grid-row: 1;
}

#newProjectInputTodayName,
#newProjectInputTodayDate {
  display: none;
}
